@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,100;1,200;1,300;1,400;1,600&display=swap");

:root {
  --common-font: "Josefin Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(0.25turn, #24091d, #740753, #0d4e69, #002c3f);
}

.underLine {
  text-align: center;
  font-size: 1px;
  background-color: gray;
  margin: 0 20rem 0 20rem;
}

.temporaryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  font-family: var(--common-font);
  font-style: italic;
  height: 80vh;
}
/* NavComponent CSS Start Here------------------------------------------------------------------------------------------- */

.navSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  font-size: 18px;
  font-family: var(--common-font);
  font-weight: 600;
  font-style: italic;
}

.logoNav {
  display: flex;
  gap: 20px;
}

.logoNav > img {
  margin: 5px 0px 5px 0px;
}

.navBar {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 30px;
}

.navLinks > li {
  cursor: pointer;
}

.navLinks li a {
  color: whitesmoke;
  transition: .2s;
}

.navLinks li a:hover {
  color: #0ff;
}


/* NavComponent CSS ends here--------------------------------------------------------------------------------------------- */

/* SearchComponent CSS starts here-------------------------------------------------------------------------------------- */

.searchBar {
  display: flex;
  gap: 15px;
}

.input-group {
  position: relative;
  width: 100%;
  max-width: 22.5em;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.input-group__label {
  position: absolute;
  left: 3em;
  top: -0.28em;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: whitesmoke;
  background-color: #000;
  cursor: pointer;
}

.input-group__input {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  font-family: var(--common-font);
  line-height: 1;
  border-style: none;
  outline: none;
  height: 3rem;
  width: 400px;
  padding: 0.8em 1em;
  border: 0.25em solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;
}

.input-group__input:hover {
  background-position: 100% 0;
}

.input-group__input:focus {
  outline: 2px dashed #ad2b89;
  outline-offset: 0.5em;
}

.searchResults{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-top: 1rem;
  border-top: none;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid #ad2b89;
  border-radius: 20px;
  background-image: linear-gradient(#000000, #00000075),
    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
  background-origin: border-box;
  background-size: 200% 100%;
}

.searchResults.visible {
  opacity: 1; 
  pointer-events: auto; 
}

.userResult {
  font-size: 1rem;
  font-style: italic;
  font-family: var(--common-font);
  line-height: 2;
  border-bottom: 1px solid #01b6d6;
}

/* SearchComponent CSS Ends here-------------------------------------------------------------------------------------- */

.forwardSlash {
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
}

/* SignUp button CSS Starts here-------------------------------------------------------------------------------------- */

.signUpBtn {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 15px;
  font-family: var(--common-font);
  font-weight: 600;
}

.signUpBtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #00ffd5,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.signUpBtn:active {
  color: #000;
}

.signUpBtn:active:after {
  background: transparent;
}

.signUpBtn:hover:before {
  opacity: 1;
}

.signUpBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1a1919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* SignUp button CSS ends here-------------------------------------------------------------------------------------- */

/* HeroSection CSS starts here-------------------------------------------------------------------------------------- */

.heroSection {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background-image: url(./assets/heroWallpaper.png);
  background-position: center;
  background-size: cover;
  font-family: var(--common-font);
  font-weight: 600;
  text-transform: capitalize;
  font-style: italic;
  color: whitesmoke;
  z-index: 1;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425); /* Adjust the opacity as needed */
  z-index: 1;
}

.heroSection::after {
  content: "";
  display: block;
  clear: both;
}

.heroSection > * {
  position: relative;
  z-index: 2;
}

.heroSection h2 {
  font-size: 50px;
}

.heroSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1600px;
}

/* gradient animation */
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 30rem;
  padding: .5rem;
  background: rgba(79, 57, 84, 0.678);
}

.webflow-style-input::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.heroInput {
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1rem;
  line-height: 2.4rem;
  vertical-align: middle;
  background: rgba(79, 57, 84, 0);
  font-style: italic;
  border: none;
  outline: none;
}

.heroInput::placeholder{
  color: rgba(245, 245, 245, 0.39);
}

.rightArrow {
  color: #7a00ff;
  font-size: 2rem;
  line-height: 1rem;
  vertical-align: middle;
  transition: color 0.25s;
  border-radius: 20px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ffbd,
    #57e6e6c4,
    #b294ffbd,
    #ff64ddc4,
    #57e6e6c0
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.webflow-style-input button:hover {
  color: #bfd2ff;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: underline;
  transition: .3s;
}

.links a:hover {
  color: #57e6e6;
}

/* HeroSection CSS Ends here-------------------------------------------------------------------------------------- */

/* Buy section CSS starts here-------------------------------------------------------------------------------------- */

.BuyShowcase {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 70px;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(3, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
  font-family: var(--common-font);
  font-style: italic;
  gap: 100px;
}

.egCar {
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(145deg, #74075328, #7c1e882f);
  box-shadow:  15px 15px 29px #26062b,
  -15px -15px 29px #840b948a;
}

.new__tag {
  display: inline-block;
  background-color: rgb(221, 221, 0);
  padding: 8px;
  margin-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
}

.egCar h2 {
  font-weight: 400;
  font-size: 30px;
  padding: 20px 0 20px 0;
  margin-left: 20px;
}

.egCar p {
  font-weight: 300;
  color: rgba(245, 245, 245, 0.781);
  margin-left: 20px;
}

.egCar img {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.7);
  padding-bottom: 70px;
  object-fit: cover;
}

/* --------------------------------------- */

.price__box{
  display: flex;
  width: 35%;
  gap: 30px;
  padding: 70px 20px 70px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #0ff;
  border-radius: 20px;
  box-shadow: inset 5px 5px 17px #69074c,
              inset -5px -5px 17px #098ec7;
  
  /* background-color: #0ff; */
}

.price__box > h1 {
  font-size: 60px;
  transition: 0.3s ease-in-out;
}

.price__box > hr {
  width: 90%;
}

.select__container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.first__row, .second__row{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.first__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.form-select-element{
  padding: 10px 52px 10px 6px;
  background-color: #000;
  font-style: var(--common-font);
  color: #00ffd5;
  border: 0.25em solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;
}

.second__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.second__block > input {
  color: #00ffd5;
  font-style: var(--common-font);
  padding: 10px;
  font-size: 15px;
  border: 0.25em solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;
}

.first__block > label {
  text-decoration: underline;
}

.second__block > label {
  text-decoration: underline;
}

.number-transition {
  transition: 0.3s ease-in-out;
}

/* Buy section CSS Ends here-------------------------------------------------------------------------------------- */

/* CarCard section CSS starts here------------------------------------------------------------------ */

.carCard {
  display: grid;
  grid-template-columns: 35em 35em 35em;
  justify-content: center;
}

.carCardTitle {
  display: block;
  line-height: 8rem;
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(3, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
  font-family: var(--common-font);
  font-style: italic;
}

.carCardSection {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 5rem 0;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(3, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
  font-family: var(--common-font);
  font-style: italic;
}

.carWrapper {
  position: relative;
  background-color: rgba(128, 128, 128, 0.274);
  color: aliceblue;
  margin: 1rem;
  padding: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
}

.carWrapper:hover {
  transform: translateY(-0.5rem);
  box-shadow: .5rem 0.75rem 1.5rem #26062b;
}

.cardImage {
  margin-top: 3rem;
  max-width: 100%;
  height: auto;
}

.carCards__cart {
  position: absolute;
  right: 0;
  margin: 0 1rem 1rem 1rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #00ffd5;
  transition: .2s;
  cursor: pointer;
}

.carCards__wishlist {
  position: absolute;
  right: 3rem;
  margin: 0 1rem 1rem 1rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #00ffd5;
  transition: .2s;
  cursor: pointer;
}

.carCards__fastSelling {
  position: absolute;
  left: 0;
  margin: 0 1rem 1rem 1rem;
  fill: #fc5c2b;
  font-size: 2rem;
}

.carCards__content {
  margin: 2rem;
}

.carName {
  font-size: 2rem;
  text-decoration: underline;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carPrice{
  font-size: 1.5rem;
  font-weight: bold;
}

.carSales,
.carTime {
  font-size: 1.1rem;
}

/* CarCard section CSS ends here------------------------------------------------------------------ */

/* FeatureSection CSS starts here-------------------------------------------------------------------------------------- */

.featureSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/cyberpunk-mclaren-supercars-neon-art-3840x2160-1003.png);
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.featureSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527); /* Adjust the opacity and color as needed */
  z-index: 2;
}

.featureSection h2 {
  display: block;
  font-size: 2.5rem;
  line-height: 5.5rem;
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(3, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
  font-family: var(--common-font);
  font-style: italic;
  color: #0ff;
}

.feature__wrapper {
  position: relative;
  display: flex;
  gap: 2rem;
  margin: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr)); /* Two equal columns */
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  justify-content: center;
}

.featureIndividualCard {
  overflow: hidden;
  padding: 1.5rem;
  box-shadow: 0 2px 20px #098ec7;
  background: #2e03218e;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card__body {
  width: 100%;
}

.card__image {
  height: 10rem;
  width: 100%;
  object-fit: contain;
  transform: translate()
}

.card__title {
  text-align: center;
  padding: 1rem;
  color: #00ffd5;
  font-family: var(--common-font);
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.card__description{
  text-align: center;
  font-family: var(--common-font);
  font-size: 1rem;
  font-style: italic;
  padding: 0 1rem;
  color: whitesmoke;
}

.card__btn {
  padding: 1rem;
  width: 40%;
  font-family: var(--common-font);
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  margin: 1rem;
  border: 2px solid #ad2b89;
  background: transparent;
  color: #ad2b89;
  border-radius: 1.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
  cursor: pointer;
}

.featureIndividualCard:hover {
  transform: scale(1.02);
}

.card__btn:hover {
  background-color: #740753;
  color: #00ffd5;
}
